body {
    background-color: black;
    color: white;
}

/* Main_Navbar Start */
nav {
    background-color: gray;
}
.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar-li {
    float: left;
}
.navbar-li .navbar-a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #456f93;
    color: white;
}
.navbar-li .navbar-a:hover {
    background-color: turquoise;
}

/* Main_Sidepanel Start */
.sidepanel {
    height: 250px;
    width: 0;
    position: fixed;
    z-index: 1; /* Render sidepanel on top of everything else */
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden; /* Remove horizontal scroll effect */
    padding-top: 60px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* Inside_Sidepanel Start */
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidepanel a:hover {
    color: #f1f1f1;
}

/* Close_Button (X) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
}

/* Inside_Sidepanel End */

/* Toggle_Sidepanel Button */
.openbtn {
    cursor: pointer;
    background-color: #111;
    color: white;
    margin: 0;
    border: none;
}
.openbtn:hover {
    background-color: #444;
}
/* Main_Sidepanel End */
/* Main_Navbar End */

/* Main Start */
main {
    background-color: yellowgreen;
    /* display: grid;
    grid-template-columns: auto auto auto auto; */
}

#about_me {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    /* grid-column: span 4; */
}

#skolfoto {
    width: 50%;
    padding: 0 4px;
    /* grid-column: span 2; */
}
#skolfoto img {
    margin-top: 8px;
    margin-bottom: 4px;
}
#jonathan_beskrivning {
    padding: 0 4px;
    /* grid-column: 2 span 2; */
}
#jonathan_beskrivning p {
    margin-top: 8px;
    margin-bottom: 4px;
}
/* Main End */

/* Footer Start */
footer {
    text-align: center;
}
/* Footer End */

/* Specific Start */
/* Phone */
@media only screen and (max-width: 500px) {
    #skolfoto img {
        width: 388px;
    }
}

/* Ipad */
@media only screen and (min-width: 600px) {
    #skolfoto img {
        width: 388px;
    }
}

/* PC */
@media only screen and (min-width: 1024px) {
    #skolfoto img {
        width: 388px;
    }
}
/* Specific End */