
/* Bootstrap Begin */
.jumbotron {
    background-color:white;
    color: gray;
    padding: 0;
}

ul {
    list-style-type: none;
}
nav{
    background-color: black;
    height: 50px;
}
nav a {
    color: white;
    margin-left:10px ;
}
.dropdown-toggle-text{
    color: black;
}
/* Bootstrap End */

h1 {
    text-align: center;
}

body {
    background-color: white;
}

/* Main-Site-Section Start */
main {
    background-color: gray;
}
#jonathan_profile-card {
    display: grid;
    grid-template-columns: auto auto;
    
}
img {
    grid-column: 1 span 1;
    width: 50%;
}
p {
    float: right;
    grid-column: 2;
    width: 50%;
}
/* Main-Site-Section End */

footer {
    color: black;
    text-align: center;
}

button {
    width: 10%;
    margin-left: 45%;
    margin-bottom: 1%;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: auto;
    background-color: darkgray;
    border: 3px solid black;
    padding: 3px;
}

th {
    background-color: blue;
    color: white;
    border: 1px solid black;
    width: 16%;
    height: 15px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

td {
    background-color: white;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    height: 25;
}
td:hover {
    background-color: #f5f5f5;
}