/* Jonathan Witting Jakhammer */
/* 18/3 - 2020 */
/* Calculator CSS */

h1 {
    color: white;
}

body {
    background-color: black;
}

/* Textfärgen på footer är samma som Bakgrundsfärgen på body */
/* Detta är på grund av att datan i footer inte ska kunna synas */
footer {
    color: black;
}

li {
    list-style-type: none;
}

/* Entire Grid */
.gridContainer {
    display: grid;
    grid-template-rows: auto auto;
    /* background-color: green; */
    padding: 10px;
    width: 25%;
    margin: auto;
}

/* Calculation-Window Grid */
.windowContainer {
    display: grid;
    grid-template-columns: 80% 20%;
    border: 4px solid grey;
    background-color: black;
    padding: 2px;
    margin-bottom: 10px;
}
.windowItem {
    color: white;
    border: 1px solid black;
    font-size: 30px;
    padding: 4px;
    text-align: left;
}
.delButton {
    color: white;
    border: 1px solid black;
    font-size: 30px;
    padding: 4px;
    text-align: right;
}
.delButton:hover {
    background-color: gray;
}

/* Button Grid */
.buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* background-color: blue; */
    padding: 5px;
}
.buttonItem {
    /* background-color: lightskyblue; */
    border: 1px solid black;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}
/* .buttonItem:hover {
    background-color: hotpink;
} */

/* Hanterar dom olika typer av knappars enskila egenskaper */
/* Till exempel så är [=] knappen av en annan färg om dom andra knapparna */
.numButton { /* Nummer */
    color: white;
}

.opButton { /* Operator (+, -, *, /) */
    color: lightgray;
}

.specialButton { /* Speciella (=, C) */
    color: gray;
}

.unavailableButton { /* Oklara (U) */
    background-color: gray;
    color: lightgray;
}