body {
    background-color: black;
    color: white;
    display: grid;
}

nav {
    background-color: gray;
}

/* h1 {
    text-align: center;
} */

main {
    grid-column: 1/-1;
}

/* Phone */
@media only screen and (max-width: 500px) {
    body {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Ipad */
@media only screen and (min-width: 600px) {
    body {
        grid-template-columns: 100px auto;
    }

    header {
        grid-column: span 2;
    }
    nav {
        grid-row: span 2;
    }
}

/* PC */
@media only screen and (min-width: 1024px) {
    body {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    header {grid-column: 1/-1;}
    nav {grid-column: 1/-1;}
    .navbar-ul {
        grid-column: 1/-1;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    .navbar-li {
        float: left;
    }
    .navbar-li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .navbar-li a:hover {
        background-color: #111;
    }

    .project_card-ul {
        /* grid-column: 1/-1; */
        grid-column: 2 span 4;
        margin: 0;
        padding: 0;
        list-style-type: none;
        /* display: flex; */
    }
    .project_card-li {
        width: 49%;
        height: 98%;
        margin: 5px;
        float: left;
        position: relative;
    }
    .project-img {
        width: 100%;
        height: 100%;
        border-radius: 1%;
    }
    .card_overlay {
        position: absolute;
        top: 4px;
        left: 16px;
    }
    
    footer {grid-column: 1/-1;}
}
